.container_form{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.div_izquierda{
    margin: 30px 20px;
}
.div_derecha{
    margin: 30px 20px;
}
.boton{
    display: flex;
    justify-content: center;
    margin: 20px 5px;
}
