 .body{
    display: flex;
    background-color: #f0f4f9;
    justify-content: center;
    align-items: center;
 }
 .container_form{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2d89c7;

    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}
.input{
    border-radius: 6px;
    margin: 4px 2px;
}
.div_izquierda{
    margin: 30px 20px;
}
.div_derecha{
    margin: 30px 20px;
}
.boton{
    display: flex;
    justify-content: center;
    margin: 20px 5px;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 6px;
}
